MYSQL_HOST=db
MYSQL_DATABASE=drupaldb
MYSQL_USER=drupaluser
MYSQL_PASSWORD=2hunters
MYSQL_ROOT_PASSWORD=hunter2
MYSQL_EXTERNAL_PORT=3307
DRUPAL_VERSION=7.60
DRUPAL_MD5=ba14bf3ddc8e182adb49eb50ae117f3e
PROJECT_REPO=
BASE_URL=127.0.0.1:8080
PROTOCOL=http
BASE_DOMAIN=
INSTALL_PROFILE=
DRUSH_VERSION=8.1
GIT_BRANCH=master
TABLE_PREFIX=
WEB_EXTERNAL_PORT=8080
BASE_PATH=.
COMPOSER_ALLOW_SUPERUSER=1
DEV=1
DRUPAL_SITE_URL=traefik.frontend.rule=Host:test-drupal.naturalis.nl
TRAEFIK_TOML_FILE=./traefik.toml
