MYSQL_HOST=[host]
MYSQL_DATABASE=[db_name]
MYSQL_USER=[db_user]
MYSQL_PASSWORD=[db_password]
MYSQL_ROOT_PASSWORD=[root_password]
MYSQL_EXTERNAL_PORT=3307
DRUPAL_VERSION=7.59
DRUPAL_MD5=7e09c6b177345a81439fe0aa9a2d15fc
BASE_URL=https://127.0.0.1:8080
INSTALL_PROFILE=
DRUSH_VERSION=8.0
GIT_BRANCH=master
TABLE_PREFIX=
WEB_EXTERNAL_PORT=8080
BASE_PATH=.
COMPOSER_ALLOW_SUPERUSER=1
DEV=1
